<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936991114213-hlt30l1sghoskqg8d8pp2ac7vreu4crk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936991114213-hlt30l1sghoskqg8d8pp2ac7vreu4crk</string>
	<key>API_KEY</key>
	<string>AIzaSyAchkNoIBjyu6aqetlPytBIYcqH_EjSEIo</string>
	<key>GCM_SENDER_ID</key>
	<string>936991114213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.COVIDAction</string>
	<key>PROJECT_ID</key>
	<string>covidaction-7be29</string>
	<key>STORAGE_BUCKET</key>
	<string>covidaction-7be29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936991114213:ios:d6aee4fd554c9d7155650c</string>
	<key>DATABASE_URL</key>
	<string>https://covidaction-7be29.firebaseio.com</string>
</dict>
</plist>